path_to_doku = "/var/www/dokuwiki/"	
namespace = "email-archive"
target_mailbox = "{imap.example.com:993/imap/ssl}INBOX"
mail_username = "post-to-wiki@example.com"
mail_password = "there-is-no-spoon-42"
allowed_domain = "example.org"
dokuwiki_unix_user = "www-data"